		<!-- Add New Post Form -->
		<div id="add-new-post" ng-controller="AddNewPostController" ng-class="{'progress': isSubmitted}">

				<form name="addNewPostForm" ng-submit="addNewPost" novalidate >
								<div class="row">
										<div class="columns">
												<label>Post Title *
														<input name="post_title" type="text" placeholder="Add your title here" ng-model="post_title" ng-class="{'input-error': addNewPostForm.$submitted && addNewPostForm.post_title.$invalid}" required>
												</label>
										</div>
								</div>

								<div class="row">
										<div class="columns">
												<label>Post Name *
														<input name="post_name" type="text" placeholder="your-post-name" ng-model="post_name" ng-class="{'input-error': addNewPostForm.$submitted && addNewPostForm.post_name.$invalid}" required>
												</label>
										</div>
								</div>

								<div class="row">
										<div class="columns">
												<label>Post Author *
														<input name="post_author" type="text" placeholder="John Alex" ng-model="post_author" ng-class="{'input-error': addNewPostForm.$submitted && addNewPostForm.post_author.$invalid}" required>
												</label>
										</div>
								</div>

								<div class="row">
										<div class="columns">
												<label>Post Content
														<textarea name="post_content" placeholder="Your post content" ng-model="post_content" ng-class="{'input-error': addNewPostForm.$submitted && addNewPostForm.post_content.$invalid}" required></textarea>
												</label>
										</div>
								</div>

								<div class="row">
										<div class="columns">
												<button ng-disabled="isSubmitted" class="button" ng-click="addNewPost()">Add</button>
												<button ng-disabled="isSubmitted" class="button" ng-click="cancelAddPost()">Cancel</button>
												
										</div>
								</div>
								
				<form>
				

		</div>
		<!-- /Add New Post Form -->
